.nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 120px;
    padding: 30px 25px;
}

.nav-title {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav-bars {
    margin-left: auto;
    color: DEEBF8;
    font-weight: 700;
}

body {
    margin: 0;
    background-color: #282D35;
    color: #fff;
    font-family: Inter, sans-serif;
}

.MainContent-title {
    padding: 12px 5px;
    letter-spacing: 0.01em;

}

.MainContent-list {
    padding: 10px 2px;
    list-style: circle;
    list-style-position:inside;
    font-size:20px
}

.MainContent-list > li {
    line-height: 32px;
    letter-spacing: 0.1em;
    padding-block: 8px;
}

* {
    box-sizing: border-box;
}

Footer {
    padding-top: 50px;
}



 

