.nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

nav > h3 {
    margin-right: auto;
    color: rgb(21, 143, 220);
}

nav > h4 {
    margin-left: auto;
    color: #fff;
}

body {
    margin: 0;
    background-color: #282D35;
    color: #fff;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 20px;
}

.MainContent {
    list-style: circle;
    list-style-position:inside;
}

* {
    box-sizing: border-box;
}


 

